body {
    background: url('../assets/images/bg__left.svg') left 10% no-repeat,
      url('../assets/images/bg__top-right.svg') right top no-repeat,
      var(--color-background) url('../assets/images/bg__btm-right.svg') right bottom no-repeat;
    background-size: auto,30%,30%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}